## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saldanha,ZA,-33.0117,17.9442,50.05,74,0,24.63,clear sky
1,1,Estelle,US,29.8458,-90.1067,86.00,72,98,1.99,overcast clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,44.71,57,0,34.52,clear sky
3,3,Atuona,PF,-9.8000,-139.0333,77.81,75,14,17.49,few clouds
4,4,Geraldton,AU,-28.7667,114.6000,48.61,87,40,9.22,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?65
What is the maximum temperature you would like for your trip?90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Estelle,US,29.8458,-90.1067,86.00,72,98,1.99,overcast clouds
3,3,Atuona,PF,-9.8000,-139.0333,77.81,75,14,17.49,few clouds
7,7,Lake Charles,US,30.2131,-93.2044,87.78,63,40,0.00,scattered clouds
9,9,Aden,YE,12.7794,45.0367,88.00,62,67,8.25,broken clouds
10,10,Kiryat Gat,IL,31.6100,34.7642,74.08,68,38,6.20,scattered clouds
13,13,Beirut,LB,33.8889,35.4944,75.94,65,75,3.44,broken clouds
17,17,Jamestown,US,42.0970,-79.2353,68.02,97,90,5.01,overcast clouds
20,20,Cabedelo,BR,-6.9811,-34.8339,79.47,79,4,10.94,clear sky
24,24,Wattegama,LK,6.7989,81.4808,77.92,92,100,2.64,light rain
27,27,Fortuna,US,40.5982,-124.1573,68.94,71,40,1.99,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                362
City                   362
Country                361
Lat                    362
Lng                    362
Max Temp               362
Humidity               362
Cloudiness             362
Wind Speed             362
Current Description    362
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Estelle,US,29.8458,-90.1067,86.00,72,98,1.99,overcast clouds
3,3,Atuona,PF,-9.8000,-139.0333,77.81,75,14,17.49,few clouds
7,7,Lake Charles,US,30.2131,-93.2044,87.78,63,40,0.00,scattered clouds
9,9,Aden,YE,12.7794,45.0367,88.00,62,67,8.25,broken clouds
10,10,Kiryat Gat,IL,31.6100,34.7642,74.08,68,38,6.20,scattered clouds
13,13,Beirut,LB,33.8889,35.4944,75.94,65,75,3.44,broken clouds
17,17,Jamestown,US,42.0970,-79.2353,68.02,97,90,5.01,overcast clouds
20,20,Cabedelo,BR,-6.9811,-34.8339,79.47,79,4,10.94,clear sky
24,24,Wattegama,LK,6.7989,81.4808,77.92,92,100,2.64,light rain
27,27,Fortuna,US,40.5982,-124.1573,68.94,71,40,1.99,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Estelle,US,86.00,overcast clouds,29.8458,-90.1067,
3,Atuona,PF,77.81,few clouds,-9.8000,-139.0333,
7,Lake Charles,US,87.78,scattered clouds,30.2131,-93.2044,
9,Aden,YE,88.00,broken clouds,12.7794,45.0367,
10,Kiryat Gat,IL,74.08,scattered clouds,31.6100,34.7642,
13,Beirut,LB,75.94,broken clouds,33.8889,35.4944,
17,Jamestown,US,68.02,overcast clouds,42.0970,-79.2353,
20,Cabedelo,BR,79.47,clear sky,-6.9811,-34.8339,
24,Wattegama,LK,77.92,light rain,6.7989,81.4808,
27,Fortuna,US,68.94,scattered clouds,40.5982,-124.1573,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

ConnectionError: HTTPSConnectionPool(host='maps.googleapis.com', port=443): Max retries exceeded with url: /maps/api/place/nearbysearch/json?radius=5000&type=lodging&key=AIzaSyBy2UnDt_oh0sp2759uhCo2iyp7XGkGyf0&location=3.3803%2C-59.7968 (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x0000027896757100>: Failed to establish a new connection: [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond'))

In [9]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
c = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = c.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Estelle,US,86.00,overcast clouds,29.8458,-90.1067,Boomtown Casino & Hotel New Orleans
3,Atuona,PF,77.81,few clouds,-9.8000,-139.0333,Villa Enata
7,Lake Charles,US,87.78,scattered clouds,30.2131,-93.2044,La Quinta Inn & Suites by Wyndham Lake Charles...
9,Aden,YE,88.00,broken clouds,12.7794,45.0367,Sama Emirate Hotel
10,Kiryat Gat,IL,74.08,scattered clouds,31.6100,34.7642,OlusHome
13,Beirut,LB,75.94,broken clouds,33.8889,35.4944,"Crowne Plaza Beirut, an IHG Hotel"
17,Jamestown,US,68.02,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
20,Cabedelo,BR,79.47,clear sky,-6.9811,-34.8339,Hotel Pigalle
27,Fortuna,US,68.94,scattered clouds,40.5982,-124.1573,Super 8 by Wyndham Fortuna
28,Guerrero Negro,MX,85.46,broken clouds,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))